.wrapper {
  background-image: "bg.png";
}

body{
    width: 100%;
    min-height: 100vh;
    margin: 0;

    background-image: url("bg.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
    font-family: Verdana, sans-serif;
}

/*contains all three main sections of site: header, main, and footer  */
div.wrapper{
    min-height: fit-content;
    width: 100%;
}

/*start of site header rules*/
div.wrapper > header{
    background: rgba(240, 240, 240, 0.85);
    display: grid;
    min-height: 3em;
    max-height: 100vh;
    width: 100%;

    grid-template-columns: max-content auto min-content;
    grid-template-rows: 3em 0%;
    grid-template-areas:
        "site-header-text . site-header-expand"
        "site-header-nav site-header-nav site-header-nav";
}

/* site header link */
div.wrapper > header > a{
    grid-area: site-header-text;
    width: min-content;
    white-space: nowrap;
    text-decoration: none;
}

div.wrapper > header > a > h1{
    margin: 0;
}

div.wrapper > header > div{
    grid-area: site-header-expand;
    height: 0%;
    font-size: 2em;
}

div.wrapper > header > nav.collapsed{
    grid-area: site-header-nav;
    display: none;
}

div.wrapper > header > nav.expanded{
    grid-area: site-header-nav;
    height: fit-content;
    overflow-y: auto;
}

div.wrapper > header > nav.expanded  ul{
    list-style-type: none;
}
/*end of site header rules*/

/*start of main rules*/
main{
    background: rgba(240, 240, 240, 0.7);
    height: calc(100vh - 2.5em);
    width: 100%;
    overflow-y:auto;
}

main > h2:nth-of-type(1){
    margin-top: 0;
}
/*end of main rules*/

/*start of footer rules*/
div.wrapper > footer{
    background: rgba(240, 240, 240, 0.85);
    width: 100%
}

div.wrapper > footer > p{
    margin-block-start: 0;
    margin-block-end: 0;
}/*not quite sure what these are but it looks odd without them*/

/*end of footer rules*/

/*start of responsivity rules*/
/*desktop*/
@media only screen and (min-width: 992px) {
    /*start of site header rules*/
    div.wrapper > header{
        background: rgba(240, 240, 240, 0.85);
        display: grid;
        min-height: 3em;
        max-height: 100vh;
        width: 100%;

        grid-template-columns: max-content auto;
        grid-template-rows: 3em 0%;
        grid-template-areas:
            "site-header-text site-header-nav";
        
    }
    
    main{
        margin-left: 10%;
        width: 80%;
    }
}